# Numerous always-ignore extensions
*.log
*.zip
*.rar

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-*


# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
dist
less.js

temp/*

*/todo.txt

node_modules/
*/node_modules/*
*/less.js/