<!-- button -->
<part id="btn">
  <button type="button" class="btn">Button</button>
</part>

<!-- button -->
<part id="btn-href">
  <a href="#" class="btn">Button</a>
</part>


<!-- important button -->
<part id="btn-important">
  <button type="button" class="btn btn-important">I'm an important button</button>
</part>

<!-- info button -->
<part id="btn-info">
  <button type="button" class="btn btn-info">I'm an info button</button>
</part>

<!-- success button -->
<part id="btn-success">
  <button type="button" class="btn btn-success">I'm a success Button</button>
</part>

<!-- warning button -->
<part id="btn-warning">
  <button type="button" class="btn btn-warning">I'm a warning button</button>
</part>

<!-- inverse button -->
<part id="btn-inverse">
  <button type="button" class="btn btn-inverse">I'm an inverse button</button>
</part>
