<!-- button -->
<part id="btn">
  <button type="button" class="btn">Button</button>
</part>

<!-- button -->
<part id="btn-href">
  <a href="#" class="btn">Button</a>
</part>

<!-- button link -->
<part id="btn-link">
  <button type="button" class="btn btn-link">Button link</button>
</part>

<!-- important button -->
<part id="btn-danger">
  <button type="button" class="btn btn-danger">Danger button</button>
</part>

<!-- info button -->
<part id="btn-info">
  <button type="button" class="btn btn-info">Info button</button>
</part>

<!-- success button -->
<part id="btn-success">
  <button type="button" class="btn btn-success">Success Button</button>
</part>

<!-- warning button -->
<part id="btn-warning">
  <button type="button" class="btn btn-warning">Warning button</button>
</part>

<!-- inverse button -->
<part id="btn-inverse">
  <button type="button" class="btn btn-inverse">Inverse button</button>
</part>
