<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test github-tiles</title>
    <link rel="stylesheet" type="text/css" href="project.css">
  </head>
  <body>
    <div id="tiles">
      <div class="">
        <h1>Featured</h1>
        <ol id="featured"></ol>
      </div>
      <ol id="repos"></div>
    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="gh3.js"></script>
    <script src="strftime.js"></script>
    <script src="github-tiles.js"></script>
    <script>

    $(function() {

      $('#tiles').githubTiles({
        user: 'doowb',
        repos: '#repos',
        featured: '#featured'
      });

    });

    </script>
  </body>
</html>
