<div class="control-group">
  <label class="control-label" for="${3:optionsCheckboxList}">${4:Checkboxes}</label>
  <div class="controls">
    <label class="checkbox${1: inline}">
      <input type="checkbox" name="${3:optionsCheckboxList}1" value="option1">
      Option one is this and that—be sure to include why it's great
    </label>
    <label class="checkbox${1: inline}">
      <input type="checkbox" name="${3:optionsCheckboxList}2" value="option2">Option two can also be checked and included in form results</label>
    <label class="checkbox${1: inline}">
      <input type="checkbox" name="${3:optionsCheckboxList}3" value="option3">
      Option three can—yes, you guessed it—also be checked and included in form results
    </label>
    <p class="help-block"> <strong>Note:</strong>
      Labels surround all the options for much larger click areas and a more usable form.
    </p>
  </div>
</div>