<ul class="nav nav-tabs">
  <li class="active">
    <a href="#${1:home}" data-toggle="tab">${2:Home}</a>
  </li>
  <li>
    <a href="#${3:profile}" data-toggle="tab">${4:Profile}</a>
  </li>
  <li>
    <a href="#${5:messages}" data-toggle="tab">${6:Messages}</a>
  </li>
  <li>
    <a href="#${7:settings}" data-toggle="tab">${8:Settings}</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="${1:home}">...</div>
  <div class="tab-pane" id="${3:profile}">...</div>
  <div class="tab-pane" id="${5:messages}">...</div>
  <div class="tab-pane" id="${7:settings}">...</div>
</div>